<div class="field">
  <%= f.input :code %>
</div>

<% if f.object.persisted? %>
  <%= f.input :situation, collection: @bike_situations %>
<% end %>

<div class="field">
  <%= f.input :active %>
</div>
