<div class="navbar navbar-expand-sm navbar-main navbar-dark bg-dark pr-0" id="navbar" data-primary>
  <div class="container-fluid p-0">
    <!-- Navbar toggler -->
    <button class="navbar-toggler navbar-toggler-right d-block d-md-none" type="button" data-toggle="sidebar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Brand -->
    <a href="<%= root_path %>" class="navbar-brand">
      <span class="navbar-brand-icon" style="width: 40px">
        <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" viewBox="0 0 512 512"><g style="fill: #fff"><path d="m457 0h-402c-30.327 0-55 24.673-55 55v402c0 30.327 24.673 55 55 55h402c30.327 0 55-24.673 55-55v-402c0-30.327-24.673-55-55-55zm25 457c0 13.785-11.215 25-25 25h-402c-13.785 0-25-11.215-25-25v-402c0-13.785 11.215-25 25-25h402c13.785 0 25 11.215 25 25z"/><path d="m376 241c-4.931 0-9.748.492-14.415 1.405l-20.585-49.404v-32.001h35c8.284 0 15-6.716 15-15s-6.716-15-15-15h-50c-8.284 0-15 6.716-15 15v35h-105.73l-10-20h10.73c8.284 0 15-6.716 15-15s-6.716-15-15-15h-60c-8.284 0-15 6.716-15 15s6.716 15 15 15h15.73l17.5 35-23.786 47.571c-6.205-1.668-12.72-2.571-19.444-2.571-41.355 0-75 33.645-75 75s33.645 75 75 75c36.22 0 66.522-25.808 73.491-60h46.42c.025 0 .051.002.076.002 5.16 0 10.183-2.666 12.971-7.444l54.8-93.943 10.146 24.349c-19.845 13.508-32.904 36.274-32.904 62.036 0 41.355 33.645 75 75 75s75-33.645 75-75-33.645-75-75-75zm-76.116-30-42.869 73.49-36.745-73.49zm-103.884 18.54 35.73 71.46h-22.239c-3.612-17.725-13.507-33.18-27.235-43.972zm-27.626 55.252c4.418 4.581 7.876 10.09 10.046 16.208h-18.15zm-32.374 76.208c-24.813 0-45-20.187-45-45s20.187-45 45-45c1.881 0 3.731.13 5.552.355l-18.969 37.937c-3.705 7.41-.702 16.419 6.708 20.125 2.153 1.077 4.442 1.587 6.696 1.587.033 0 .066-.003.099-.003h42.332c-6.19 17.458-22.863 29.999-42.418 29.999zm240 0c-24.813 0-45-20.187-45-45 0-13.223 5.735-25.131 14.846-33.371l16.309 39.14c2.4 5.762 7.977 9.235 13.852 9.235 1.923 0 3.878-.372 5.764-1.158 7.646-3.187 11.263-11.968 8.076-19.615l-16.317-39.16c.819-.045 1.642-.071 2.471-.071 24.813 0 45 20.187 45 45s-20.188 45-45.001 45z"/></g></svg>
      </span>
      <span>LendBike</span>
    </a>
    
    <ul class="nav navbar-nav d-none d-sm-flex border-left navbar-height align-items-center">
      <li class="nav-item dropdown">
        <a href="#account_menu" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">
          <span class="ml-1 d-flex-inline">
            <span class="text-light"><%= current_user.name %></span>
          </span>
        </a>
        <div id="account_menu" class="dropdown-menu dropdown-menu-right">
          <%= link_to raw("<i class='fa fa-sign-out'></i> " << I18n.t('buttons.log_out')), 
            destroy_user_session_path, class: 'dropdown-item', id: 'sign-out', method: :delete %>
        </div>
      </li>
    </ul>

  </div>
</div>